

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h5>Updated weather forecast for your city</h5>
    <h2>Weather in: {{ weather.name }} - {{ weather.sys.country }}</h2>
    <table class="table table-light table-striped table-bordered table-sm">
      <tbody>
        <tr>
          <td>Humidity</td>
          <td>{{ weather.main.humidity }}%</td>
        </tr>
        <tr>
          <td>Atmospheric Pressure</td>
          <td>{{ weather.main.pressure }}hpa</td>
        </tr>
        <tr>
          <td>Sunrise</td>
          <td>{{ weather.sys.sunrise * 1000 | date: 'H:mm' }}</td>
        </tr>
        <tr>
          <td>Sunset</td>
          <td>{{ weather.sys.sunset * 1000 | date: 'H:mm' }}</td>
        </tr>
        <tr>
          <td>Geographic Coordinates</td>
          <td>{{ weather.coord.lat }}, {{ weather.coord.lon }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
