<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="col-sm-12 text-center">
      <div class="input-group mt-5">
        <input class="form-control" type="text" #userInput placeholder="Type your city">
        <div class="input-group-append">
          <button class="input-group-text btn btn-outline-primary" (click)="getCity(userInput.value)">Search</button>
        </div>
      </div>

      <h5>Updated weather forecast for your city</h5>
      <h2>Weather in: {{ weather.name }} - {{ weather.sys.country }}</h2>
    </div>
    <div>
      <!-- To be included-->
    </div>
    <table class="table table-light table-striped table-bordered table-sm">
      <tbody>
        <tr>
          <td>Humidity</td>
          <td>{{ weather.main.humidity }}%</td>
        </tr>
        <tr>
          <td>Atmospheric Pressure</td>
          <td>{{ weather.main.pressure }}hpa</td>
        </tr>
        <tr>
          <td>Sunrise</td>
          <td>{{ weather.sys.sunrise * 1000 | date: 'H:mm' }}</td>
        </tr>
        <tr>
          <td>Sunset</td>
          <td>{{ weather.sys.sunset * 1000 | date: 'H:mm' }}</td>
        </tr>
        <tr>
          <td>Geographic Coordinates</td>
          <td>{{ weather.coord.lat }}, {{ weather.coord.lon }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
